@font-face {
    font-family: spectral;
    src: url(Spectral-Regular.ttf);
}

body {
    background-color: rgb(34, 34, 34);
    font-family: spectral, 'Arial';
}

h3 {
    color: rgb(29, 205, 159);
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    text-decoration: underline;
}

#uzenet {
    margin-top: 25px;
    text-align: center;
    color: rgb(29, 205, 159);
    background-color: rgb(34, 34, 34);
    border: 0px;
    border-bottom: 1px solid rgb(29, 205, 159);
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    transition: 0.2s ease-in;
}

#uzenet:focus {
    transition: 0.2s ease-out;
    outline: none;
    box-shadow: 0px 2px 0px rgb(29, 205, 159);
}

#send {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#uzenetek {
    border-left: 1px solid rgb(29, 205, 159);
    border-right: 1px solid rgb(29, 205, 159);
    border-radius: 15px;
    text-align: center;
    color: rgb(29, 205, 159);
}

#uzenetek p {
    padding: 10px 25px;
    color: black;
    background-color: rgb(29, 205, 159);
    border-radius: 15px;
    display: block;
    max-width: 100%;
    max-width: fit-content;
    line-break: auto;
    word-wrap: break-word;
    white-space: normal;
}

#uzenetek::-webkit-scrollbar {
    display: none;
}